*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-size: 18px; 
  }
  main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .first_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    width: 35%;
    height: 450px;
    padding-bottom: 20px;
    position: relative;
    left: 20px;
  }
  .first_section p, h1, h2 {
    color: white;
  }
  .first_section h2{
   margin-bottom: 25px;
  }
  .marks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
  }
  .score{
    font-size: 60px;
    font-weight: bold;
  }
  h1{
    margin-top: 10px;
  }
  .remarks{
    text-align: center;
    width: 50%;
    margin-top: 25px;
  }
  .second_section{
    width: 35%;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 5px hsl(221, 100%, 96%);
    padding-left: 20px;
  }
  .summary{
    color: black;
    margin-left: 7%;
    margin-top: 5px;
  }
   article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
  }
  div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 50px;
  }
  .reaction{
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background-color:  hsl(0, 100%, 92%);
  }
  .memory{
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background-color: hsl(40, 100%, 92%);
  }
  .verbal{
    padding: 0 34px 0 20px;
    border-radius: 10px;
    background-color: hsl(166, 100%, 92%);
  }
  .visual{
    padding: 0 34px 0 20px;
    border-radius: 10px;
    background-color: hsl(233, 100%, 92%);
  }
  .span_svg{
    position: relative;
    top: 5px;
    right: 5px;
  }
  .button{
    width: 87%;
    height: 45px;
    position: relative;
    top: 10px;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
  .button:hover{
    cursor: pointer;
  }

  @media (max-width: 425px) {
    main{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .first_section{
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-right: 40px;
    }
    .second_section{
      width: 100%;
      border-radius: 0;
      position: relative;
      z-index: -1;
      bottom: 10px;
    }
    .summary{
      margin-top: 20px;
      position: relative;
      right: 20px;
    }
    article{
      margin-right: 20px;
    }
    div{
      width: 100%;
    }
    .button{
      width: 100%;
      height: 45px;
    }
  }

  @media (min-width: 2560px) {
    body{
      font-size: 40px;
    }
    .first_section{
      max-width: 1200px;
      height: 800px;
    }
    .marks{
      width: 350px;
      height: 350px;
    }
    .second_section{
      max-width: 1200px;
      height: 800px;
    }
    div{
      height: 100px;
      margin-top: 10px;
      border-radius: 10px;
    }
    .button{
      height: 100px;
      font-size: 40px;
      border-radius: 50px;
    }
    .span_svg{
     width: 40px;
     height: 40px;
    }
  }